params {
    modules {
        'blast_makeblastdb_signalp' {
            args = "-dbtype prot"
        }
        'blast_makeblastdb_trans' {
            args = "-dbtype prot"
        }
        'blast_blastp_orfs' {
            args = "-max_target_seqs 1 -evalue 1e-1"
        }
        'blast_blastx_acps' {
            args = "-max_target_seqs 1 -evalue 1e-02"
        }
        'hmmer_hmmscan' {
            args = "-E 0.1"
        }
        'hmmer_hmmpress' {
            args = ""
        }
        'resolve_output' {
            args = "-f Acp"
        }
        'scripts_filterblast_acps' {
            args = "-n no -b 80 -e 10 -Q 50"
        }
        'scripts_filterblast_orfs' {
            args = "-n no -b 80 -e 10"
        }
        'scripts_filtersignalp' {
            args = ""
        }
        'scripts_filtertransdecoder' {
            args = "-l 100 -r 3"
        }
        'signalp_signalp' {
            args = "-org euk -format short"
        }
        'transdecoder_longorfs' {
            args = "-m 50 -S"
        }
        'transdecoder_predict' {
            args = ""
        }
    }
}
